[user]
	name = Qiushi Pan
	email = 17402261+qqpann@users.noreply.github.com
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
